
*{
 margin: auto;  
 padding: auto;
}

header{

    background: url('../images/The_Smiths_by_Steve_Wright_Sire_Records-2400x1260.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;

}

body{    background: url('../images/fondo_theSmiths.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
    font-size: 16px;;
  grid-template-columns: auto;
  grid-template-rows: auto;
    background-size: cover;
   }
.contenedor {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
      margin: auto;
      font-family: 'Fira Sans', sans-serif;
    display: inline-block;
    width: 100%;
     margin: 0 auto;
    block-size: 0px;
    color: beige;
}
.contenedor-titulo{
    height:  7vh;
    display: flex;
    justify-content:  flex-end;
    align-items: flex-end;
}
.contenedor-titulo h1{
    font-style: inherit;
    font-size: 32px;
    color: rgba(28, 14, 65, 0.671);
    border: none rgb(110, 97, 97);
    border-radius: 10px;
    padding: 1px;
    ;
    
}


.contenidos{

    text-align: left;
    width: 100%;
    height: 80%;



}

.video{
    width: 100%;
}

main{

    width: 100%;
     margin: 0 auto;
    block-size: 0px; justify-content: center;}

section{
  
    width: 80%;
    background-color: rgba(35, 38, 41, 0.562);
    font-size: 16px;
   justify-content: center;
   
    color: rgb(62, 114, 100);
    font-family: 'Prompt', sans-serif;}
